.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  color: var(--white);

  @media (min-width: 600px) {
    font-size: 4rem;
  }
}

button {
  border: unset;
  background: unset;

  cursor: pointer;
}
