.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;

  width: 100%;

  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 600px) {
    height: 30rem;
  }
}
