@use 'assets/styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  padding-inline: 2.4rem;

  background: var(--body-bg-color);

  transition:
    background 0.3s,
    color 0.3s;
}
