.wrapper {
  background: var(--box-color);

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;

  padding-inline: 2.4rem;
  height: var(--box-height);

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

span {
  font-size: 1.4rem;
  letter-spacing: -0.19px;
  color: var(--text-secondary-color);
}

.btn-wrapper {
  text-align: end;
}

button {
  border: unset;
  background: unset;

  font-size: 1.4rem;
  letter-spacing: -0.17px;
  color: var(--text-secondary-color);
  cursor: pointer;

  padding: 0.5rem;

  transition: color 0.3s;

  font-family: 'Josefin Sans', sans-serif;

  &:hover {
    color: var(--text-color);
  }
}

.content {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}
